<mat-toolbar color="primary">
    <mat-toolbar-row>
        <h1>SIS VENTAS</h1>
        <button mat-icon-button (click)="sidenav.toggle();">
            <mat-icon>menu</mat-icon>
        </button>
    </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav #sidenav opened="true" mode="side" style="width: 200px;">
        <mat-nav-list>
            <mat-list-item class="list-item" routerLink="/pages/dashboard" style="height: 75px;">
                <mat-icon mat-list-icon>dashboard</mat-icon>
                <div class="list-text" mat-line>DashBoard</div>
            </mat-list-item>

            <mat-list-item class="list-item" routerLink="/pages/client" style="height: 75px;">
                <mat-icon mat-list-icon>group</mat-icon>
                <div class="list-text" mat-line>Clientes</div>
            </mat-list-item>

            <mat-list-item class="list-item" routerLink="/pages/category" style="height: 75px;">
                <mat-icon mat-list-icon>category</mat-icon>
                <div class="list-text" mat-line>Categorias</div>
            </mat-list-item>

            <mat-list-item class="list-item" routerLink="/pages/product" style="height: 75px;">
                <mat-icon mat-list-icon>collections_bookmark</mat-icon>
                <div class="list-text" mat-line>Productos</div>
            </mat-list-item>

            <mat-list-item class="list-item" routerLink="/pages/sale" style="height: 75px;">
                <mat-icon mat-list-icon>currency_exchange</mat-icon>
                <div class="list-text" mat-line>Ventas</div>
            </mat-list-item>
            
        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <div style="height: 86vh;">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>